<div class="container mdl-shadow--2dp">
    <h2 class="mdl-typography--title">Delete Account - dpuremaths</h2>
    <p class="mdl-typography--body-1">Please enter your email and select a reason for removing your account:</p>

    <form [formGroup]="this.deleteUserForm" (ngSubmit)="onSubmitDeleteUserForm()">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="email" id="email" formControlName="userName">
            <label class="mdl-textfield__label" for="email">Email</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="password" id="password" formControlName="password">
          <label class="mdl-textfield__label" for="password">Password</label>
      </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <select class="mdl-textfield__input" id="reason" formControlName="reason">
                <option value="" disabled selected></option>
                <option value="graduated">Graduated or completed my studies</option>
                <option value="no_longer_using">No longer using the app</option>
                <option value="found_alternative">Found an alternative educational resource</option>
                <option value="other">Other</option>
            </select>
            <label class="mdl-textfield__label" for="reason">Reason for removal</label>
        </div>

        <div id="additionalReasonContainer" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <textarea class="mdl-textfield__input" id="additionalReason" name="additionalReason" rows="4"></textarea>
            <label class="mdl-textfield__label" for="additionalReason">Additional comments (optional)</label>
        </div>

        <button type="submit" class="mdl-button mdl-button--raised mdl-button--colored" >Delete My Account</button>
    </form>

    <div class="info-message">
        <p><strong>Note:</strong> Deleting your account will permanently remove all your information from our system.</p>
    </div>

	<p class="footer"><strong>Thank you for being a part of dpuremaths!!!</strong></p>
</div>
